.search{

  border: 3pt solid orange;
  width: 300px;
  color: gray;
  margin: auto;
  margin-top: 150px;
  padding-left:10px;
  letter-spacing: 3px;
  font-family: sans-serif;
}

.p{
  text-align: middle;
}

.search-button{
  border: white;
  background-image: url(../img/searchicon.png);
  float: left;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  background-size: contain;
  margin-left: 100px;

}

