body{
  margin: 0;
  padding: 0;
  color: rgb(54, 54, 54);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(155, 155, 155);
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}
.minebox{
  width: 900px;
  position: relative;
  font-size: 60px;
  text-align: center;
}
.mine{
  width: 92px;
  height:92px;
  background:rgb(54, 54, 54);
  border: 4px solid rgb(54, 54, 54);
  float: left;
  margin: 5px;
}

.mine:hover{
  background: #fff;
}

img { max-width: 92px; }

.m17 img{ opacity: 0; }
.m17 img:hover{ opacity: 1;}

.m23 img{ opacity: 0; }
.m23 img:hover{ opacity: 1;}

.m35 img{ opacity: 0; }
.m35 img:hover{ opacity: 1;}


.m46 img{ opacity: 0; }
.m46 img:hover{ opacity: 1;}


.m64 img{ opacity: 0; }
.m64 img:hover{ opacity: 1;}
