body{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
  width: 500px;
  height: 30px;
  background: rgb(163, 163, 163);
}
.minebox{
  width: 900px;
  position: relative;
  font-size: 60px;
  text-align: center;
}
.mine{
  width: 92px;
  height:92px;
  background:black;
  border: 4px solid black;
  float: left;
  margin: 5px;
}

.mine:hover{
  background: #fff;
}

img { max-width: 92px; }

.m17 img{ opacity: 0; }
.m17 img:hover{ opacity: 1;}

.m23 img{ opacity: 0; }
.m23 img:hover{ opacity: 1;}

.m35 img{ opacity: 0; }
.m35 img:hover{ opacity: 1;}


.m46 img{ opacity: 0; }
.m46 img:hover{ opacity: 1;}


.m64 img{ opacity: 0; }
.m64 img:hover{ opacity: 1;}
