* {box-sizing: border-box;}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: pink;
  font-size: 40px;
  color: black;
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color:rgb(119, 0, 255);
}